<!DOCTYPE html>
<html>
<head>
	<title>Example Frontend</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<h1>Annotator console</h1>
		<h2>Lemma paradigm debugging signature regeneration</h2>
	
	<div>
		<div>
			<label for="spreadsheetName">Spreadsheet:</label>
			<input type="text" style="width: 300px;" id="spreadsheetName" value="Nominals-Sandbox">
			<label for="spreadsheetName">Sheet:</label>
			<select id="sheetName" name="sheetName">
				{% for text in sheets%}
					<option value={{text}}>{{text}}</option>
				{% endfor %}
			</select>
			<button onclick="regenerateSignature()">Regenerate Signature</button>
		</div>
	</div>

	<script>
		function regenerateSignature() {
			var sheetName = document.getElementById("sheetName").value;
			var spreadsheetName = document.getElementById("spreadsheetName").value;
			$.ajax({
				url: "/regenerateSignature",
				type: "POST",
				data: {"sheetName": sheetName, "spreadsheetName": spreadsheetName},
				success: function(response) {
					alert("Response: " + response);
				},
				error: function(xhr, status, error) {
					alert("Error: " + error);
				}
			});
		}
	</script>
</body>
</html>
