<!DOCTYPE html>
<html>
<head>
	<title>Test 2</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<h1>Annotator console</h1>
		<h2>Lemma paradigm debugging signature regeneration</h2>
	
	<div>
		<div>
			<label for="spreadsheetName">Spreadsheet:</label>
			<input type="text" style="width: 400px;" id="inputText">
		</div>
		<div>
			<label for="sheetName">Sheet:</label>
			<input type="text" style="width: 400px;"  id="inputText">
		</div>
		<button onclick="annotateText()">Annotate Text 1</button>
	</div>

	<script>
		function annotateText() {
			var sheetName = document.getElementById("inputText").value;
			var spreadsheetName = document.getElementById("inputText").value;
			$.ajax({
				url: "/annotate",
				type: "POST",
				data: {"sheetName": sheetName, "spreadsheetName": spreadsheetName},
				success: function(response) {
					alert("Response: " + response);
				},
				error: function(xhr, status, error) {
					alert("Error: " + error);
				}
			});
		}
	</script>
</body>
</html>
